/* line 1, ../scss/style.scss */
body {
  margin: 0;
  background-color: #fbebea;
}

/* line 6, ../scss/style.scss */
.container {
  max-width: 1220px;
  margin: 0 auto;
  outline: 1px solid green;
}
@media screen and (max-width: 1366px) {
  /* line 6, ../scss/style.scss */
  .container {
    max-width: 728px;
  }
}

/* line 15, ../scss/style.scss */
.header {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* line 19, ../scss/style.scss */
.header__row-wrapper {
  background: #ffffff;
}
/* line 22, ../scss/style.scss */
.header__row {
  padding-top: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  /* line 22, ../scss/style.scss */
  .header__row {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* line 32, ../scss/style.scss */
.header__logo {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: 1.2px;
  text-align: left;
  color: #2d2829;
}
@media screen and (max-width: 1366px) {
  /* line 32, ../scss/style.scss */
  .header__logo {
    font-size: 19.5px;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
  }
}
@media screen and (max-width: 1366px) {
  /* line 51, ../scss/style.scss */
  .header__menu {
    background-image: url(../img/menu_26x18.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 18px;
    height: 18px;
    width: 26px;
    margin-left: 26px;
  }
}
/* line 62, ../scss/style.scss */
.header__list {
  padding: 0;
  margin: 0;
  margin-left: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  /* line 62, ../scss/style.scss */
  .header__list {
    display: none;
  }
}
/* line 73, ../scss/style.scss */
.header__item {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 44px;
}
/* line 79, ../scss/style.scss */
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: left;
  color: #2d2829;
}
/* line 91, ../scss/style.scss */
.header__link:hover {
  color: #f50049;
}
/* line 94, ../scss/style.scss */
.header__link--tel {
  margin-left: auto;
  font-weight: bold;
}
/* line 98, ../scss/style.scss */
.header__link--promo {
  color: #ffffff;
  border-radius: 25.5px;
  background-color: #f50049;
  padding: 15px 67px;
  margin-top: 58px;
  display: inline-block;
}
@media screen and (max-width: 1366px) {
  /* line 98, ../scss/style.scss */
  .header__link--promo {
    margin-top: 30px;
  }
}
/* line 108, ../scss/style.scss */
.header__link--promo:hover {
  color: #ffffff;
  box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
}
/* line 114, ../scss/style.scss */
.header__promo {
  position: relative;
  margin-top: 165px;
  padding-bottom: 250px;
}
@media screen and (max-width: 1366px) {
  /* line 114, ../scss/style.scss */
  .header__promo {
    margin-top: 0;
  }
}
/* line 121, ../scss/style.scss */
.header__promo::before {
  content: "";
  display: block;
  box-shadow: 0px 12px 13.2px 1.8px rgba(255, 21, 66, 0.1);
  background-image: url(../img/tort_header_940x941.png);
  background-repeat: no-repeat;
  background-size: 919px 918px;
  height: 918px;
  width: 919px;
  position: absolute;
  top: -150px;
  right: -230px;
  line-height: 1;
}
@media screen and (max-width: 1366px) {
  /* line 121, ../scss/style.scss */
  .header__promo::before {
    background-size: 549px 548px;
    width: 549px;
    height: 548px;
    top: 10px;
    right: -120px;
  }
}
/* line 143, ../scss/style.scss */
.header__title {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 80.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: 6px;
  text-align: left;
  color: #2e2829;
  max-width: 400px;
  position: relative;
}
@media screen and (max-width: 1366px) {
  /* line 143, ../scss/style.scss */
  .header__title {
    font-size: 53.5px;
    line-height: 1;
    letter-spacing: 4px;
    padding-top: 92px;
  }
}
/* line 163, ../scss/style.scss */
.header__title::before {
  content: "";
  display: block;
  background-image: url(../img/half_a_strawberry_111x110.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 111px;
  height: 110px;
  position: absolute;
  top: -130px;
  right: -165px;
}
@media screen and (max-width: 1366px) {
  /* line 163, ../scss/style.scss */
  .header__title::before {
    width: 72px;
    height: 71px;
    top: 0;
    height: 0;
  }
}
/* line 181, ../scss/style.scss */
.header__title::after {
  content: "";
  display: block;
  background-image: url(../img/raspberries_63x60.png);
  background-repeat: no-repeat;
  width: 63px;
  height: 60px;
  position: absolute;
  background-size: contain;
  top: 70px;
  right: -95px;
}
@media screen and (max-width: 1366px) {
  /* line 181, ../scss/style.scss */
  .header__title::after {
    width: 40px;
    height: 38px;
    top: 0;
    height: 0;
  }
}
/* line 200, ../scss/style.scss */
.header__description {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  font-family: 'Intro Script R H2 Base', serif;
  font-size: 39px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #32313d;
  max-width: 400px;
  position: relative;
}
@media screen and (max-width: 1366px) {
  /* line 200, ../scss/style.scss */
  .header__description {
    margin-top: 10px;
  }
}
/* line 218, ../scss/style.scss */
.header__description::before {
  content: "";
  display: block;
  background-image: url(../img/strawberry_168x119.png);
  background-repeat: no-repeat;
  width: 168px;
  height: 119px;
  position: absolute;
  background-size: contain;
  top: 95px;
  right: -65px;
}
@media screen and (max-width: 1366px) {
  /* line 218, ../scss/style.scss */
  .header__description::before {
    width: 99px;
    height: 71px;
    top: 0;
    height: 0;
  }
}
/* line 237, ../scss/style.scss */
.header__advantage {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 70px;
  margin-right: 70px;
}
/* line 238, ../scss/style.scss */
.header__advantage-wrapper {
  margin-top: 146px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1366px) {
  /* line 238, ../scss/style.scss */
  .header__advantage-wrapper {
    margin-top: 160px;
  }
}
@media screen and (max-width: 1366px) {
  /* line 237, ../scss/style.scss */
  .header__advantage {
    margin-right: 50px;
  }
}
/* line 261, ../scss/style.scss */
.header__advantage--ingredients {
  position: relative;
  max-width: 100px;
}
/* line 264, ../scss/style.scss */
.header__advantage--ingredients::before {
  content: "";
  display: block;
  height: 55px;
  width: 55px;
  background-image: url(../img/ingredients_55x55.png);
  background-size: 55px 55px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
}
/* line 278, ../scss/style.scss */
.header__advantage--delivery {
  position: relative;
  max-width: 200px;
}
/* line 281, ../scss/style.scss */
.header__advantage--delivery::before {
  content: "";
  display: block;
  height: 55px;
  width: 54px;
  background-image: url(../img/delivery_55x54.png);
  background-size: 55px 54px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
