/* line 1, ../scss/style.scss */
body {
  margin: 0;
  background-color: #fbebea;
}

/* line 6, ../scss/style.scss */
.container {
  max-width: 1220px;
  margin: 0 auto;
  outline: 1px solid green;
}
@media screen and (max-width: 1366px) {
  /* line 6, ../scss/style.scss */
  .container {
    max-width: 728px;
  }
}
@media screen and (max-width: 768px) {
  /* line 6, ../scss/style.scss */
  .container {
    max-width: 282px;
  }
}

/* line 18, ../scss/style.scss */
.header {
  position: relative;
  overflow: hidden;
}
/* line 21, ../scss/style.scss */
.header__row-wrapper {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1366px) {
  /* line 21, ../scss/style.scss */
  .header__row-wrapper {
    background: #ffffff;
  }
}
/* line 28, ../scss/style.scss */
.header__row {
  padding-top: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  /* line 28, ../scss/style.scss */
  .header__row {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* line 28, ../scss/style.scss */
  .header__row {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
/* line 42, ../scss/style.scss */
.header__logo {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: 1.2px;
  text-align: left;
  color: #2d2829;
}
@media screen and (max-width: 1366px) {
  /* line 42, ../scss/style.scss */
  .header__logo {
    font-size: 19.5px;
    line-height: 1.67;
    letter-spacing: 1px;
    color: #000000;
  }
}
@media screen and (max-width: 768px) {
  /* line 42, ../scss/style.scss */
  .header__logo {
    font-size: 16.5px;
    line-height: 1.97;
    letter-spacing: 0.8px;
    color: #000000;
  }
}
@media screen and (max-width: 1366px) {
  /* line 66, ../scss/style.scss */
  .header__menu {
    background-image: url(../img/menu_26x18.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 18px;
    height: 18px;
    width: 26px;
    margin-left: 26px;
  }
}
@media screen and (max-width: 768px) {
  /* line 66, ../scss/style.scss */
  .header__menu {
    background-image: url(../img/menu_26x18.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 18px;
    height: 18px;
    width: 26px;
    margin: 0;
    margin-left: auto;
  }
}
/* line 87, ../scss/style.scss */
.header__list {
  padding: 0;
  margin: 0;
  margin-left: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  /* line 87, ../scss/style.scss */
  .header__list {
    display: none;
  }
}
/* line 98, ../scss/style.scss */
.header__item {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 44px;
}
/* line 104, ../scss/style.scss */
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: left;
  color: #2d2829;
}
/* line 116, ../scss/style.scss */
.header__link:hover {
  color: #f50049;
}
/* line 119, ../scss/style.scss */
.header__link--tel {
  margin-left: auto;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 119, ../scss/style.scss */
  .header__link--tel {
    display: none;
  }
}
/* line 126, ../scss/style.scss */
.header__link--promo {
  color: #ffffff;
  border-radius: 25.5px;
  background-color: #f50049;
  padding: 15px 67px;
  margin-top: 58px;
  display: inline-block;
}
@media screen and (max-width: 1366px) {
  /* line 126, ../scss/style.scss */
  .header__link--promo {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 126, ../scss/style.scss */
  .header__link--promo {
    margin-top: 42px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
/* line 141, ../scss/style.scss */
.header__link--promo:hover {
  color: #ffffff;
  box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
}
/* line 147, ../scss/style.scss */
.header__promo {
  position: relative;
  margin-top: 165px;
  padding-bottom: 250px;
}
@media screen and (max-width: 1366px) {
  /* line 147, ../scss/style.scss */
  .header__promo {
    margin-top: 0;
    padding-bottom: 157px;
  }
}
@media screen and (max-width: 768px) {
  /* line 147, ../scss/style.scss */
  .header__promo {
    margin-top: 0;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* line 163, ../scss/style.scss */
.header__promo::before {
  content: "";
  display: block;
  background-image: url(../img/tort_header_940x941.png);
  background-repeat: no-repeat;
  background-size: 919px 918px;
  height: 918px;
  width: 919px;
  position: absolute;
  top: -150px;
  right: -230px;
  line-height: 1;
  z-index: 1;
}
@media screen and (max-width: 1366px) {
  /* line 163, ../scss/style.scss */
  .header__promo::before {
    background-size: 549px 548px;
    width: 549px;
    height: 548px;
    top: 10px;
    right: -120px;
  }
}
@media screen and (max-width: 768px) {
  /* line 163, ../scss/style.scss */
  .header__promo::before {
    background-size: 368px 367px;
    width: 368px;
    height: 367px;
    top: -180px;
    left: -45px;
    right: 0;
  }
}
/* line 193, ../scss/style.scss */
.header__title {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 80.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: 6px;
  text-align: left;
  color: #2e2829;
  max-width: 400px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1366px) {
  /* line 193, ../scss/style.scss */
  .header__title {
    font-size: 53.5px;
    line-height: 1;
    letter-spacing: 4px;
    padding-top: 92px;
  }
}
@media screen and (max-width: 768px) {
  /* line 193, ../scss/style.scss */
  .header__title {
    text-align: center;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 3px;
    padding-top: 134px;
  }
}
/* line 221, ../scss/style.scss */
.header__title::before {
  content: "";
  display: block;
  background-image: url(../img/half_a_strawberry_111x110.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 111px;
  height: 110px;
  position: absolute;
  top: -130px;
  right: -165px;
}
@media screen and (max-width: 1366px) {
  /* line 221, ../scss/style.scss */
  .header__title::before {
    width: 72px;
    height: 71px;
    top: 0;
    height: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 221, ../scss/style.scss */
  .header__title::before {
    display: none;
  }
}
/* line 242, ../scss/style.scss */
.header__title::after {
  content: "";
  display: block;
  background-image: url(../img/raspberries_63x60.png);
  background-repeat: no-repeat;
  width: 63px;
  height: 60px;
  position: absolute;
  background-size: contain;
  top: 70px;
  right: -95px;
}
@media screen and (max-width: 1366px) {
  /* line 242, ../scss/style.scss */
  .header__title::after {
    width: 40px;
    height: 38px;
    top: 0;
    height: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 242, ../scss/style.scss */
  .header__title::after {
    display: none;
  }
}
/* line 264, ../scss/style.scss */
.header__description {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  font-family: 'Intro Script R H2 Base', serif;
  font-size: 39px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #32313d;
  max-width: 400px;
  position: relative;
}
@media screen and (max-width: 1366px) {
  /* line 264, ../scss/style.scss */
  .header__description {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* line 264, ../scss/style.scss */
  .header__description {
    margin-top: 10px;
    font-size: 23.5px;
    line-height: 3.32;
    text-align: center;
  }
}
/* line 288, ../scss/style.scss */
.header__description::before {
  content: "";
  display: block;
  background-image: url(../img/strawberry_168x119.png);
  background-repeat: no-repeat;
  width: 168px;
  height: 119px;
  position: absolute;
  background-size: contain;
  top: 95px;
  right: -65px;
}
@media screen and (max-width: 1366px) {
  /* line 288, ../scss/style.scss */
  .header__description::before {
    width: 99px;
    height: 71px;
    top: 0;
    height: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 288, ../scss/style.scss */
  .header__description::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 310, ../scss/style.scss */
  .header__mobile-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* line 316, ../scss/style.scss */
.header__advantage {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 70px;
  margin-right: 70px;
}
/* line 317, ../scss/style.scss */
.header__advantage-wrapper {
  margin-top: 146px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1366px) {
  /* line 317, ../scss/style.scss */
  .header__advantage-wrapper {
    margin-top: 160px;
  }
}
@media screen and (max-width: 768px) {
  /* line 317, ../scss/style.scss */
  .header__advantage-wrapper {
    margin-top: 30px;
    flex-direction: column;
  }
}
@media screen and (max-width: 1366px) {
  /* line 316, ../scss/style.scss */
  .header__advantage {
    margin-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 316, ../scss/style.scss */
  .header__advantage {
    margin: 0;
    padding-left: 45px;
  }
}
/* line 348, ../scss/style.scss */
.header__advantage--ingredients {
  position: relative;
  max-width: 100px;
}
@media screen and (max-width: 768px) {
  /* line 348, ../scss/style.scss */
  .header__advantage--ingredients {
    margin-top: 0;
    max-width: 100%;
  }
}
/* line 355, ../scss/style.scss */
.header__advantage--ingredients::before {
  content: "";
  display: block;
  height: 55px;
  width: 55px;
  background-image: url(../img/ingredients_55x55.png);
  background-size: 55px 55px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
}
@media screen and (max-width: 768px) {
  /* line 355, ../scss/style.scss */
  .header__advantage--ingredients::before {
    background-size: 33px 33px;
    bottom: 0;
    left: 0;
  }
}
/* line 374, ../scss/style.scss */
.header__advantage--delivery {
  position: relative;
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  /* line 374, ../scss/style.scss */
  .header__advantage--delivery {
    margin-top: 30px;
    max-width: 100%;
  }
}
/* line 381, ../scss/style.scss */
.header__advantage--delivery::before {
  content: "";
  display: block;
  height: 55px;
  width: 54px;
  background-image: url(../img/delivery_55x54.png);
  background-size: 55px 54px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
}
@media screen and (max-width: 768px) {
  /* line 381, ../scss/style.scss */
  .header__advantage--delivery::before {
    background-size: 33px 32px;
    bottom: 0;
    left: 0;
  }
}

/* line 404, ../scss/style.scss */
.product__htitle {
  font-family: 'Playfair Display', serif;
  font-size: 39.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.4px;
  text-align: left;
  color: #2d2829;
}
@media screen and (max-width: 1366px) {
  /* line 404, ../scss/style.scss */
  .product__htitle {
    font-size: 27.5px;
    line-height: 1.44;
    letter-spacing: 0.3px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 768px) {
  /* line 404, ../scss/style.scss */
  .product__htitle {
    font-size: 26.5px;
    text-align: center;
  }
}
/* line 425, ../scss/style.scss */
.product__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 430, ../scss/style.scss */
.product__card {
  width: 51%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  height: 652px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 45px;
}
@media screen and (max-width: 1366px) {
  /* line 430, ../scss/style.scss */
  .product__card {
    margin-top: 20px;
    height: 388px;
  }
}
@media screen and (max-width: 768px) {
  /* line 430, ../scss/style.scss */
  .product__card {
    width: 100%;
    height: 120px;
    background-position-y: -8px;
  }
}
/* line 450, ../scss/style.scss */
.product__card--half {
  height: 304px;
  width: 100%;
}
@media screen and (max-width: 1366px) {
  /* line 450, ../scss/style.scss */
  .product__card--half {
    height: 184px;
  }
  /* line 455, ../scss/style.scss */
  .product__card--half:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 450, ../scss/style.scss */
  .product__card--half {
    height: 120px;
  }
}
/* line 463, ../scss/style.scss */
.product__card--classic {
  background-image: url(../img/tort_classic_714x672.png);
}
/* line 466, ../scss/style.scss */
.product__card--muss {
  background-image: url(../img/tort_muss_502x323.png);
}
/* line 469, ../scss/style.scss */
.product__card--marry {
  background-image: url(../img/tort_marry_502x324.png);
}
/* line 472, ../scss/style.scss */
.product__card--man {
  background-image: url(../img/tort_man_502x324.png);
}
/* line 475, ../scss/style.scss */
.product__card--woman {
  background-image: url(../img/tort_woman_502x324.png);
}
/* line 478, ../scss/style.scss */
.product__card--child {
  background-image: url(../img/tort_child_715x671.png);
}
/* line 482, ../scss/style.scss */
.product__wrapper {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 482, ../scss/style.scss */
  .product__wrapper {
    width: 100%;
  }
}
/* line 491, ../scss/style.scss */
.product__title {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2d2829;
  padding-left: 46px;
  padding-top: 40px;
}
@media screen and (max-width: 1366px) {
  /* line 491, ../scss/style.scss */
  .product__title {
    font-size: 13px;
    padding-top: 23px;
    padding-left: 26px;
  }
}
@media screen and (max-width: 768px) {
  /* line 491, ../scss/style.scss */
  .product__title {
    font-size: 14.5px;
    padding-top: 13px;
    padding-left: 13px;
  }
}
/* line 515, ../scss/style.scss */
.product__value {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(45, 40, 41, 0.7);
  padding-left: 46px;
  margin-top: 12px;
  display: block;
}
@media screen and (max-width: 1366px) {
  /* line 515, ../scss/style.scss */
  .product__value {
    font-size: 13px;
    padding-left: 26px;
    margin-top: 6px;
  }
}
@media screen and (max-width: 768px) {
  /* line 515, ../scss/style.scss */
  .product__value {
    font-size: 14.5px;
    padding-left: 13px;
    margin-top: 7px;
  }
}
/* line 538, ../scss/style.scss */
.product__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2d2829;
  margin-top: auto;
  padding-right: 68px;
  margin-top: auto;
  padding-bottom: 31px;
}
@media screen and (max-width: 1366px) {
  /* line 538, ../scss/style.scss */
  .product__link {
    font-size: 13px;
    padding-right: 72px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 538, ../scss/style.scss */
  .product__link {
    display: none;
  }
}

@media screen and (max-width: 1366px) {
  /* line 563, ../scss/style.scss */
  .fa-arrow-right {
    display: none;
  }
}

/* line 569, ../scss/style.scss */
.order {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/* line 572, ../scss/style.scss */
.order__title {
  font-size: 39.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.4px;
  text-align: center;
  color: #2d2829;
  margin: 0;
  margin-top: 105px;
}
@media screen and (max-width: 1366px) {
  /* line 572, ../scss/style.scss */
  .order__title {
    font-size: 26.5px;
    line-height: 2.49;
    letter-spacing: 0.3px;
  }
}
/* line 589, ../scss/style.scss */
.order__description {
  font-family: 'Intro Script R H2 Base', serif;
  font-size: 31px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.52;
  letter-spacing: normal;
  color: #32313d;
}
@media screen and (max-width: 1366px) {
  /* line 589, ../scss/style.scss */
  .order__description {
    font-size: 23.5px;
    line-height: 3.32;
  }
}
/* line 603, ../scss/style.scss */
.order__filling {
  background-color: #fff;
  text-align: left;
  display: flex;
  font-family: 'Playfair Display', serif;
}
/* line 609, ../scss/style.scss */
.order__step {
  font-size: 61.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #f50049;
  display: block;
  padding-top: 74px;
  padding-left: 83px;
}
@media screen and (max-width: 1366px) {
  /* line 609, ../scss/style.scss */
  .order__step {
    font-size: 37.5px;
    letter-spacing: 0.4px;
    padding-top: 44px;
    padding-left: 45px;
  }
}
/* line 628, ../scss/style.scss */
.order__action {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: left;
  color: #f50049;
  display: block;
  margin-top: 16px;
  padding-left: 81px;
}
@media screen and (max-width: 1366px) {
  /* line 628, ../scss/style.scss */
  .order__action {
    font-size: 18px;
    letter-spacing: 0.2px;
    margin-top: 8px;
    padding-left: 46px;
  }
}

/* line 650, ../scss/style.scss */
.slider {
  position: relative;
  padding-left: 400px;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/nachinka_344x390.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin-left: 82px;
  margin-top: 88px;
  height: 390px;
}
@media screen and (max-width: 1366px) {
  /* line 650, ../scss/style.scss */
  .slider {
    padding-left: 265px;
    margin-left: 38px;
    margin-top: 53px;
    height: 239px;
    margin-bottom: 56px;
  }
}
/* line 668, ../scss/style.scss */
.slider__arrow {
  position: absolute;
  font-size: 30px;
  color: #f50049;
}
/* line 672, ../scss/style.scss */
.slider__arrow--left {
  top: 50%;
  left: -60px;
}
/* line 676, ../scss/style.scss */
.slider__arrow--right {
  top: 50%;
  right: 60px;
}
/* line 681, ../scss/style.scss */
.slider__title {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.48;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2f2f2f;
  margin: 0;
}
@media screen and (max-width: 1366px) {
  /* line 681, ../scss/style.scss */
  .slider__title {
    font-size: 16.5px;
    line-height: 2.03;
  }
}
/* line 696, ../scss/style.scss */
.slider__description {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2f2f2f;
  padding-right: 271px;
}
@media screen and (max-width: 1366px) {
  /* line 696, ../scss/style.scss */
  .slider__description {
    font-size: 14px;
    line-height: normal;
    padding-right: 139px;
  }
}
/* line 712, ../scss/style.scss */
.slider__price {
  font-family: 'Playfair Display', serif;
  font-size: 23.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.51;
  letter-spacing: normal;
  text-align: left;
  color: #2f2f2f;
  display: block;
}
@media screen and (max-width: 1366px) {
  /* line 712, ../scss/style.scss */
  .slider__price {
    font-size: 21.5px;
    line-height: 1.67;
  }
}
/* line 728, ../scss/style.scss */
.slider__link {
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  padding: 10px 62px;
  border-radius: 25.5px;
  background-color: #f50049;
  display: inline-block;
  margin-top: 50px;
}
@media screen and (max-width: 1366px) {
  /* line 728, ../scss/style.scss */
  .slider__link {
    font-size: 9px;
    line-height: 2.5;
    margin-top: 26px;
  }
}
/* line 748, ../scss/style.scss */
.slider__pagination {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  color: rgba(47, 47, 47, 0.7);
  margin-bottom: auto;
  display: block;
  margin-top: 43px;
  padding-right: 129px;
}
@media screen and (max-width: 1366px) {
  /* line 748, ../scss/style.scss */
  .slider__pagination {
    font-size: 11px;
    line-height: 1.41;
    margin-top: 15px;
    padding-right: 70px;
    padding-bottom: 54px;
  }
}

/*# sourceMappingURL=style.css.map */
