body {
    margin: 0;
    background-color: #fbebea;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    outline: 1px solid green;
}

.header {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__row {
        padding-top: 105px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo {
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-size: 23px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: 1.2px;
        text-align: left;
        color: #2d2829;
    }
    &__list {
        padding: 0;
        margin: 0;
        margin-left: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-right: 44px;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 13.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.96;
        letter-spacing: normal;
        text-align: left;
        color: #2d2829;
        &:hover {
            color: #f50049;
        }
        &--tel {
            margin-left: auto;
            font-weight: bold;
        }
        &--promo {
            color: #ffffff;
            border-radius: 25.5px;
            background-color: #f50049;
            padding: 15px 67px;
            margin-top: 58px;
            display: inline-block;
            &:hover {
                color: #ffffff;
                box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
            }
        }
    }
    &__promo {
        position: relative;
        margin-top: 165px;
        padding-bottom: 250px;
        &::before {
            content: "";
            display: block;
            background-image: url(../img/tort_header_940x941.png);
            background-repeat: no-repeat;
            background-size: 919px 918px;
            height: 918px;
            width: 919px;
            position: absolute;
            top: -150px;
            right: -230px;
        }
    }
    &__title {
        margin: 0;
        padding: 0;
        font-family: 'Playfair Display', serif;
        font-size: 80.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.83;
        letter-spacing: 6px;
        text-align: left;
        color: #2e2829;
        max-width: 400px;
        position: relative;
        &::before{
            content: "";
            display: block;
            background-image: url(../img/half_a_strawberry_111x110.png);
            background-repeat: no-repeat;
            width: 111px;
            height: 110px;
            position: absolute;
            top: -130px;
            right: -165px;
        }
        &::after{
            content: "";
            display: block;
            background-image: url(../img/raspberries_63x60.png);
            background-repeat: no-repeat;
            width: 63px;
            height: 60px;
            position: absolute;
            top: 70px;
            right: -95px;
        }
    }
    &__description {
        margin: 0;
        padding: 0;
        margin-top: 31px;
        font-family: 'Intro Script R H2 Base', serif;
        font-size: 39px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #32313d;
        max-width: 400px;
        position: relative;
        &::before{
            content: "";
            display: block;
            background-image: url(../img/strawberry_168x119.png);
            background-repeat: no-repeat;
            width: 168px;
            height: 119px;
            position: absolute;
            top: 95px;
            right: -65px;
        }
    }
    &__advantage {
        &-wrapper {
            margin-top: 146px;
            display: flex;
            justify-content: flex-start;
        }
        font-family: 'Roboto',
        sans-serif;
        font-size: 13.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding-left: 70px;
        margin-right: 70px;
        &--ingredients {
            position: relative;
            max-width: 100px;
            &::before {
                content: "";
                display: block;
                height: 55px;
                width: 55px;
                background-image: url(../img/ingredients_55x55.png);
                background-size: 55px 55px;
                background-position: left bottom;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -5px;
                left: 0;
            }
        }
        &--delivery {
            position: relative;
            max-width: 200px;
            &::before {
                content: "";
                display: block;
                height: 55px;
                width: 54px;
                background-image: url(../img/delivery_55x54.png);
                background-size: 55px 54px;
                background-position: left bottom;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -5px;
                left: 0;
            }
        }
    }
}