@font-face {
    font-family: 'Intro Script R H2 Base';
    src: url('IntroScriptR-H2Base.eot');
    src: url('IntroScriptR-H2Base.eot?#iefix') format('embedded-opentype'),
        url('IntroScriptR-H2Base.woff2') format('woff2'),
        url('IntroScriptR-H2Base.woff') format('woff'),
        url('IntroScriptR-H2Base.ttf') format('truetype'),
        url('IntroScriptR-H2Base.svg#IntroScriptR-H2Base') format('svg');
    font-weight: normal;
    font-style: normal;
}

